@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: Abel;
    src: url(../fonts/Abel-Regular.ttf);
}
@font-face {
    font-family: Raleway-Regular;
	src:url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-condensed.regular.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(../fonts/roboto-condensed.light.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
body{
	font-family:OpenSans;	
}
.wrapper{
	max-width:100%;	
}
.no-padding{
	padding:0;	
}
.top_nav,.top_nav a{
	color:#c8c8c8 !important;
	font-size:12px;	
	margin:0;
}
.top_nav a{
	padding:10px !important;
}
.top_nav .navbar{
	min-height:33px;
	border-radius:0;
	margin:0;
	background:#eeeeee;
}
.top_nav ul li{
	border-left:1px solid #ddd;
}
.top_nav ul li:first-child{
	border:none;
}
.logo{
	display:block;
	float:left;	
}
.logo img{
	width:126px;	
}
ul li .instagram{
	float:left;
	background:url(../images/social-icon-instagram.png) no-repeat;
    background-size: 100% 100%;
	padding:7px !important;
	margin:10px;	
}
.top-nav-left ul li{
	display:block;
	float:left;
	background:red;
		
}
.instagram-t{
	display:none;	
	float:left;
	padding:10px 0;
}

.top-nav-left ul li:hover .instagram-t{
	display:block !important;
}
.bar{
	width:40px;
	float:right;
	margin:5px;
	display:none;
	vertical-align:middle;
	display:block;
		
}
.navbar.main-menu{
	margin:0;
	background:#fff;
	z-index:5;
	width:1350px;
	max-width:100%;
	border-radius:0;
	box-shadow:1px 1px 1px #ccc;
	
}
.main-menu ul{
	margin-top:20px;
}
.main-menu ul li{
		display:block;
}
.main-menu ul li a{
	display:inline-block;
	vertical-align:middle;
	color:#464646;
	
}
.controller{
	max-width:1350px;
	float:none;
	margin:0 auto;
	max-width:100%;	
}
.section1{
	height:600px;
	background:url(../images/socialmediako.jpg) no-repeat fixed;
	background-size:100% 100%;
	color:#fff;
	text-align:center;
	font-family:Abel;
}
.data-container{
	//width:600px;
	padding-top:200px;
	float:none;
	margin:0 auto;
	max-width:100%;
}
.stack{
	font-size:30px;
	color:#fff;	
	margin:0 auto;
	float:none;
	text-align:center;
}
.section1 h1{
	font-size:70px;	
	
}
.section1 h5{
	letter-spacing: 4px;	
	font-size:13px;
	color:#f4f4f4;
}
.section1 .button{
	border:1px solid #8f8f8e;	 
	padding:7px;
	width:210px;
	float:none;
	margin:40px auto;
    letter-spacing: 4px;
	font-size:14px;
	color:#f4f4f4;
}
.section2{
	height:600px;
	background:#100806;
	background-size:100% 100%;
	color:#fff;
	text-align:center
}
.section2 .border{
	border-bottom:1px solid #fff;
	height:40px;	
}
.section2 .text{
	margin-top:35px;
	font-size:14px;	
	
	font-family:roboto;
	background:url(../images/tiny.jpg) repeat-x;
	background-position:center;
}
.section2 .text p{
	color:#2f2f3f;
	background:#100806;	
	width:280px;
	float:none;
	margin:0 auto;
}
.section2 .instagram-img{
	width:80px;
	padding-top:20px;
	float:none;
	margin:0 auto;
	background:url(../images/round-bg.png) no-repeat;
    background-size: 100% 100%;
}
.section2 .instagram-img img{
	width:30px;
	float:none;
	margin:0 auto;	
	
}
.section2 .section-contnet{
	width:700px;
	margin:20px auto;
	max-width:100%;
	
}
.section2 .inner-contnet{
	background:#f0f0f0;
	padding:30px;
	border-radius:7px;
}
.section2 h1{
	color:#f2594b;
	font-family:Montserrat;	
	font-size:50px;
	font-weight:700;
}
.section2 h3{
	color:#000;	
	font-family:Montserrat;	
	
}
.empty-black{
	padding:100px;
	background:#100806;	
}
.section2 p{
	color:#adadad;
}
.section2 .button2{
	border:2px solid #666666;
	padding:10px;
	color:#999;
	border-radius:6px;	
}
.section2 .button2:hover{
	background:#666666;
	color:#f1f1f1;
}
.section3 img{
	width:100%;
}
.section4,.section6,.section7{
	background:#fff;
	background-size:100% 100%;
	color:#000;
	text-align:center
}
.section4 h1{
	font-family:roboto;
	margin-bottom:40px;	
}
.section4 p{
	font-size: 22px;;
	color:#444444;
	font-weight:300;
	font-family:roboto-light;
}
.section4 p span{
	font-family:roboto;
}
.section5 .heading{
	margin:0 auto;
	width:550px;
	background:url(../images/tiny-gray.jpg) repeat-x;
	background-position:center;	
	float:none;
	margin-bottom:30px;
	text-align:center;
	max-width:100%;
}
.section5 .heading p{
	background:#fff;
	width:270px;
	color:#ccc;
	float:none;
	margin:0 auto;
	font-family:sans-serif;
	font-size:11px;	
}
.section5 .description{
	padding:10px 0;	
}
.section5 h2{
	margin-top:0;
	font-family:roboto-light;
	font-size:28px;
	
}
.section5 .icon{
	margin-top:10px;
	padding:10px;
	background:none;
	
	
}
.section5 .icon:hover{
	background:url(../images/images/round.png) no-repeat;
	background-position:center;
	background-size:contain;
	
}
.section5 .icon img{
	margin:0 auto;
	float:none;
	display:block;
	padding:5px;	
}
.section6 .headings{
	font-size:50px;
	content:"\e854";
	
}
.testimonial p{
	font-family:OpenSans-italic;
	color:#838383;
}
.section7 h1{
	font-family:roboto;
	#838383;	
}
.section7 p{
	color:#838383;
	font-size:13px;
	margin-bottom:40px;	
}
.carousel .item{
	width:20%;	
	float:left;
	
	
}
.carousel .item img{
	margin:1px;	
}
.section8{
	background:#f7f7f7;
	color:#000;
	text-align:center	
}
.section8 h1{
	font-family:roboto;
}
.section8 p{
	font-size:13px;
	color:#838383;
		
}
.section8 .button{
	padding:15px;
	background:#fff;
	border-radius:5px;
	border:1px solid #838383;
	width:200px;
	margin:30px auto;
}
.section9{
	background:#f7f7f7;
	color:#000;
	text-align:center	
}
.section10 .map{
	background:url(../images/map_grid-1024x489.png) no-repeat;
	background-position:center;
	background-size:contain;	
}


.section10 h1{
	font-family:roboto-light;
		
	
}
.section10 p,.section10 ul{
	color:#838383;
	font-family:13px;
}
.section10 .heading{
	background:url(../images/tiny-gray.jpg) repeat-x;
	background-position:center;
	margin:0 auto;
	max-width:100%;	
}
.section10 .heading p{
	text-align:center;
	background:#fff;
	width:650px;
	margin:0 auto;
	font-size:13px;
	max-width:100%;
		
}
.section11{
	background:#263242;
	color:#fff;
	text-align:center	
}
.section11 h1{
	font-family:roboto;
	color:#939aa4;
}
.section11 ul{
	width:300px;	
	float:none;
	margin:30px auto;
	display:block
}
.section11 ul li{
	float:left;
	list-style:none;
	margin:0 10px;
}
.section11 ul li img{
	width:30px;	
}
.empty_area{
	padding:50px;	
}
.empty_space{
	padding:30px;	
}

.footer{
	background:#1c1c1c;	
	padding:20px;
	font-size:13px;
	color:#6e6e6e;
}
.footer h2{
	font-size:20px;	
	font-family:roboto-light;
}
img.member{
	border-radius:25px;
	width:30px;	
}
.footer ul.categories{
	border-top:1px solid #6e6e6e;
	border-bottom:1px solid #6e6e6e;
	padding:5px;
	list-style:none;	
}
.footer span{
	margin:25px 0;
	display:block;	
	color:#fff;
	font-size:12px;
}
.footer .text{
	color:#f0f0f0;	
	font-size:12px;
}
.footer .text a{
	color:#f0f0f0;	
	font-size:12px;
}
@media screen and (max-width:780px){
	.bar{
		display:block;	
	}
	.main-menu ul{
		//display:none;	
	}
}